.App {
  text-align: center;
}

* {
    font-family: 'Noto Sans', sans-serif;
    font-size: small
}

.logo {
  height: 75px
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.recipe-body {
  padding-right: 20%;
  padding-left: 20%;
}

.ingredients{

}

.summary{
  background-color: darkslategrey;
  color: white;
  padding: 20%;
}


.form{
  padding-right: 20%;
  padding-left: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.cardimg {
  object-fit: cover;
  width: 100%;
  height: 220px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card-css {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  grid-gap: 50px
}


.recipe-info {
  background-color: #C9D5D1;
  color: black;
  padding: 4%
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.name-font {
  font-size: 15px
}

.author-name {
  font-size: 10px
}

.home{
  padding-right: 15%;
  padding-left: 15%
}

.body {background-color: white;}

.summary-img {
  object-fit: cover;
  width: 100%;
  height: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.profile {
  padding-right: 7%;
  padding-left: 7%;
}

.edit-recipe {

}

.form-bg {
  background-color: #C9D5D1;
  padding: 5%;
  font-size: small
}

.user-info {
  background-color: darkslategrey;
  color: white
}

.profile-icon {
  height: 200px
}

.profile-column {
  display: grid;
  grid-template-columns: repeat(10, minmax(200px, 1fr));
  /* grid-gap: 50px */
}

.user-font{
  font-size: large
}

.profile-small {
  width: 250px
}

.summary-text {
  position: absolute;
  top: 30%;
}
